*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* for the style of whole page of the website */
.page{
    background: #D2F7FA;
    min-height: 100vh;
    width: 100%;
    color: white;
    position: relative;
}

/* style for spalsh page */
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #D2F7FA;
    z-index: 510;
    color: #72C2D6;
    text-align: center;
    line-height: 90vh;

}

/* for splash to disappear in seconds */
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #D2F7FA;
    z-index: -10;
    color: #72C2D6;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;

}

/* style for splash h1*/
.splash h1{
    font-size: 40px;
}

/*for splash page to fade in and appear a few seconds*/
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
/* for lottie animation that are in splash page*/
.animation-center{  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
    height: 1vh ; 
}



/* for navigation bar in home page */

nav{
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #72C2D6;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    font-size: 18px;
} 

nav ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

nav ul li a:hover,
nav ul li a.active
{
    background:#D2F7FA;
    color: black;
}

.page h1{
    font-size: 30px;
    padding-left: 10px;
}


/* profile img placement */
.profile-img{
    position: relative;
    left: 5px;
}

/* logo placement*/
.logo{
    position: relative;
    padding-left: 1px;
}

/* placement for profile image above account name */
.image{
    width: 250px;
    height:250px;
    margin-top: 10%;
    margin-left: 635px;
    z-index: 200px;
    
}

/* styling for profile name */
.profile h3{
    font-size: 30px;
    color: #0097BC;
    text-align: center;
    padding-top: 10px;
}

/* styling for number of quiz attempts */
.quiz-attempts h3{
    font-size: 25px;
    color: #0097BC;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    margin-left: 614px;
    padding: 6px 15px;
    box-shadow: 10px 10px 5px lightblue;
}

/* styling for number of artciles read */
.read-articles h3{
    font-size: 25px;
    color: #0097BC;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    margin-left: 614px;
    padding: 6px 15px;
    box-shadow: 10px 10px 5px lightblue; 

}
/* styling for experience points */
.experience-points h3{
    font-size: 25px;
    color: #0097BC;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    margin-left: 614px;
    padding: 6px 15px;
    box-shadow: 10px 10px 5px lightblue; 

}

/*style for mascot (forum)*/
.mascot{
    position: fixed;
    margin-left: 60px;
    margin-top: 140px;
    display: flex;
}

/*style for 3d model*/
model-viewer{
    width: 900px;
    height: 300px;
    margin-left: 320px;
    
}

/* style for rewards heading */
.rewards h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;

}

/* style for what kind of rewards (reward's name) */
.rewards h2 {
    font-size: 35px;
    color: #0097BC;
    text-align: center;
    padding-top: 70px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    margin-left: 614px;
    padding: 6px 15px;
    box-shadow: 10px 10px 5px lightblue; 
}

/* for giftcards placement  */
.row {
    display: flex;
}
.giftcards{
    flex: 33.33%;
    padding: 5px;

}